<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{add.id}}</p>
          <p>
          <p>
            <strong>Title</strong>: {{add.listing_name}}</p>
          <p>
            <strong>Description:</strong> {{add.listing_description}}</p>
            <p>
            <strong>Location</strong>: {{add.listing_location}}</p>
          <p>
            <p>
            <strong>Price</strong>: {{add.price}}</p>
          <p>
            <a href="/classifieds">← Back To Classifieds</a>
        </div>
      </div>
    </div>
  </div>
</div>