  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/background6.jpg" alt="Unsplashed background img 1"></div>
  </div>

<!-- Start of Job Search Code -->
<div id="classifieds">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h2>Find Your Dream Job</h2>
                <form class="clearfix mb-4" action="POST">
                    <div class="form-group">
                        <h4>Begin Your Search:</h4>
                        <br>
                        <label for="example-description"><h6><strong>Add Title:</strong></h6></label>
                        <input type="text" id="add-name" class="form-control" aria-describedby="example-text"
                            placeholder="ex. Microsoft Xbox One S">
                    </div>
                    <div class="form-group">
                        <label for="example-description"><h6><strong>Add Description:</strong></h6></label>
                        <textarea class="form-control" id="add-description" aria-describedby="example-description"
                            placeholder="Enter Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="example-location"><h6><strong>Enter Location:</strong></h6></label>
                        <textarea class="form-control" id="add-location" aria-describedby="example-description"
                            placeholder="ex. 123 Spooner st., Kent, CT. 55555"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="example-price"><h6><strong>Enter Price:</strong></h6></label>
                        <textarea class="form-control" id="add-price" aria-describedby="example-description"
                            placeholder="ex. $150 (obo)"></textarea>
                    </div>
                    <div class="form-group">
              <label for="category">Select User:</label>
              <select class="custom-select" id="User">
              </select>
            </div>
                    <button id="submit" class="btn btn-primary float-right">Submit</button>
                </form>
                <h3>Examples:</h3>
                <ul id="example-list" class="list-group">
                    {{#each add}}
                    <li data-id="{{this.id}}" class="list-group-item">
                        <a href="classifieds/{{this.id}}">{{this.listing_name}}</a>
                        <p>{{this.listing_description}}</p>
                        <p>{{this.listing_location}}</p>
                        <p>{{this.price}}</p>
                        <button class="btn btn-danger float-right delete">ｘ</button>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Classifieds Code -->



  <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script src="/js/Classifieds.js"></script>